<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          id="description"
          type="text"
          class="form-control"
          placeholder="Search by description"
          [(ngModel)]="description"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchDescription(this.description)"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Tasks List</h4>
      <table class="table table-striped">
        <caption>Tasks Lists</caption>
        <thead>
              <tr>
                <th>Description</th>
                <th>Date</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let task of tasksView; let i = index" [class.active]="i == currentIndex" (click)="setActiveTask(task, i)">
                <td>{{ task.description }}</td>
                <td>{{ task.date }}</td>
                <td>{{ task.status }}</td>
                <td>                  
                  <a href="#" [routerLink]="['/tasks/', task.taskId]" class="btn btn-primary" style="margin-right:5px">Edit</a>                  
                </td>
              </tr>
        </tbody>
    </table>      
    </div>   
  </div>